@font-face {
  font-family: "JF Flat Regular";
  src: url(../fonts/JF-Flat-regular.eot);
  src: url(../fonts/JF-Flat-regular.eot#iefix) format("embedded-opentype"),
    url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format("svg"),
    url(../fonts/JF-Flat-regular.woff) format("woff"),
    url(../fonts/JF-Flat-regular.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "JF Flat Regular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 14px;
  color: #555555;
  line-height: 1.429;
}
.custom-navbar {
  border-bottom: 3px solid #eef0ea;
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-navbar .container .navbr-brand {
  margin-top: 4px;
  margin-left: 30px;
}

.custom-navbar .container {
  padding: 0;
}
.custom-form-control,
.custom-btn {
  border: 1px solid #ebebebeb;
  box-shadow: none !important;
  border-radius: 2px;
  font-size: 14px;
  transition: all 0.3s ease;
  padding: 6px 16px 7px 16px;
  color: #868686;
}
.custom-form-control:focus {
  border-color: #c2101e;
}
.custom-btn:hover {
  background-color: #d4d4d4d4;
  border: 1px solid #8c8c8c;
  color: #b86d07;
}

.categories .nav-link {
  border-right: 0;
  border-radius: 0;
}

.custom-dropdown-menu .checkbox {
  display: inline-block;
  margin: 0 5px;
}

.custom-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 #ebebeb;
  color: #777;
}

.custom-dropdown-menu .checkbox label input {
  margin-left: 5px;
}

.custom-navbar .search-btn {
  background-color: #ff3956;
  border-color: #ff3956;
  color: #fff;
  padding: 5px 15px 7px 15px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0;
}

.custom-navbar .search-btn:hover,
.custom-navbar .search-btn:active,
.custom-navbar .search-btn:focus {
  background-color: #c2101e;
  border-color: #c2101e;
  color: #ffffff;
  box-shadow: none;
}

.custom-navbar .navbar-nav li a.nav-link {
  color: #555555;
  font-size: 14px;
  padding: 15px;
}

.custom-navbar .navbar-nav a.nav-link:hover {
  color: #000;
}


.custom-navbar .navbar-nav li.active a.nav-link {
  color: #ff3956;
  border-bottom: 1px solid #ff3956;
  font-weight: 700;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
  background-color: #e7e7e7;
}

.nav-item.dropdown .dropdown-menu {
  left: auto;
}

.custom-dropdown-menu li a:hover {
  background-color: #ffe7ea;
}

.custom-navbar a.btn-icon {
  padding: 5px 10px 4px;
  color: #777;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 15px;
  font-size: 12px;
}

.custom-navbar .navbar-nav li:last-of-type {
  margin-top: 8px;
}

.custom-navbar .btn-icon:hover {
  color: #000;
  background-color: #bfbfbf;
}

/* special prodect */

#carousel-featured {
  background-color: #f7f8f3;
  height: 400px;
  padding-top: 25px;
  
}
.carousel-row>.col-12{
  padding-right: 0;padding-left: 0;
}

#carousel-featured .carousel-item img {
  height: 375px;
  
}
#carousel-featured .product-details h1{
  font-size: 175%;
  margin-top: 18px;
  font-weight: 700;
}
#carousel-featured .product-details {
  border: 1px solid #dddddb;
  padding: 20px;
  position: relative;
  top: 50px;
  height: 200px;
}

#carousel-featured .product-details .product-category {
  border: 1px solid #dddddb;
  padding: 10px;
  /* its postion cordig to body */
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #f7f8f3;
}

#carousel-featured .product-details .custom-btn-primary {
  color: #f8ad47;
  border-color: #f8ad47;
  background-color: transparent;
  padding: 9px 25px;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 2px;
}

.sale {
  background-color: #53ccd7;
  color: white;
  font-weight: bold;
  position: absolute;
}

.sale.large {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  left: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  padding: 35px;
  transform: rotate(-25deg);
  line-height: 90%;
  flex-direction: column;
}

#carousel-featured .product-details .sale.large span {
  font-size: 14px;
}

#carousel-featured .product-details h1 {
  color: #000;
  font-size: 32px;
  font-weight: bolder;
}

.custom-carousel-indicators-primary {
  top: 235px;
  right: 41%;
}
.custom-carousel-indicators-primary img {
  height: 70px;
  width: 70px;
  background-color: #fff;
  border: 2px solid #dddddb;
  margin-right: 2px;
}

.custom-carousel-indicators-primary img.active {
  border-color: #f8ad47;
}

#carousel-featured .carousel-control-prev,
#carousel-featured .carousel-control-next{
  color: #868686;
  font-size: 20px;
}

#store-features{
  box-shadow: 0 0 15px #eef0ea;
  position:relative;
  top: -30px;
  background-image: url(../images/bg_features.png);
  background-repeat: no-repeat;
    background-color: #fff;
  padding-bottom: 35px;
  padding-top: 25px;
  background-size: auto 60%;
  background-position: -10px -20px;
}
/* only the direct img not any other one */
#store-features .features>img{
  height: 40px;
  margin-bottom: 10px;
}
/* the elemnt that have the class feature and the other on a row */
#store-features .features+.features{
border-right: 1px solid #eef0ea;
}

h3.custom-heading{
  font-size: 24px;
  margin-bottom: 25px;
}